---
platform: linux

image_resource:
  type: docker-image
  source:
    repository: crdant/glide

inputs:
  - name: source
  - name: version

outputs:
  - name: build

run:
  path: source/ci/tasks/build.sh
  args: [
    --input-dir, source,
    --output-dir, build
  ]
